In [ ]:
pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yfinance in /usr/local/lib/python3.8/dist-packages (0.2.9)
Requirement already satisfied: frozendict>=2.3.4 in /usr/local/lib/python3.8/dist-packages (from yfinance) (2.3.4)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /usr/local/lib/python3.8/dist-packages (from yfinance) (4.11.1)
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.8/dist-packages (from yfinance) (4.9.2)
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.8/dist-packages (from yfinance) (2022.7)
Requirement already satisfied: cryptography>=3.3.2 in /usr/local/lib/python3.8/dist-packages (from yfinance) (39.0.0)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: html5lib>=1.1 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.1)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.8/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.8/dist-packages (from yfinance) (2.28.2)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.8/dist-packages (from beautifulsoup4>=4.11.1->yfinance) (2.3.2.post1)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.8/dist-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.1->yfinance) (1.15.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: pycparser in /usr/local/lib/python3.8/dist-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)

In [ ]:
import yfinance as yf
import numpy as np
import pandas as pd
import datetime as dt
from pandas.tseries.offsets import MonthEnd

In [ ]:
#Dow Jones 30 & some more
tickers = ["AAPL", "AMGN", "AXP", "BA", "CAT", "CRM", "CSCO","CVX", "DIS", "DOW", "GS",
           "HD", "HON", "IBM", "INTC", "JNJ",
           "JPM", "KO", "MCD", "MMM", "MRK", "MSFT", "NKE", "PG", "TRV", "UNH",
           "V", "VZ", "WBA", "WMT",  "DDOG", "DXCM", "FANG", "DLTR", "EA", "EBAY","EXC", "FAST", "GFS", "META", "FISV", "GILD",
      "GOOG", "HON", "ILMN", "INTC", "INTU", "ISRG", "MRVL", "IDXX", "JD", "KDP", "KLAC", "KHC", "LRCX", "LCID",]

In [ ]:
df2 = yf.download(tickers, start = "2010-01-01", end = "2022-01-01")

[*********************100%***********************]  54 of 54 completed

In [ ]:
df2

                            Adj Close                                      \
                                 AAPL        AMGN         AXP          BA
Date
2010-01-04 00:00:00-05:00    6.515212   43.267189   33.675968   43.777561
2010-01-05 00:00:00-05:00    6.526476   42.892384   33.601894   45.211338
2010-01-06 00:00:00-05:00    6.422665   42.570049   34.145061   46.582802
2010-01-07 00:00:00-05:00    6.410789   42.180260   34.698868   48.468559
2010-01-08 00:00:00-05:00    6.453413   42.555046   34.674080   48.001022
...                               ...         ...         ...         ...
2021-12-27 00:00:00-05:00  179.289444  218.275620  161.724579  203.169998
2021-12-28 00:00:00-05:00  178.255432  218.857269  161.744247  206.130005
2021-12-29 00:00:00-05:00  178.344925  220.631226  161.173660  203.660004
2021-12-30 00:00:00-05:00  177.171722  219.535812  161.498306  202.710007
2021-12-31 00:00:00-05:00  176.545380  218.081757  160.947388  201.320007

                                                                          \
                                  CAT         CRM       CSCO         CVX
Date
2010-01-04 00:00:00-05:00   41.156914   18.705000  17.394131   47.266079
2010-01-05 00:00:00-05:00   41.648968   18.625000  17.316633   47.600845
2010-01-06 00:00:00-05:00   41.775494   18.592501  17.203915   47.606831
2010-01-07 00:00:00-05:00   41.944195   18.510000  17.281403   47.427467
2010-01-08 00:00:00-05:00   42.415161   18.537500  17.372993   47.511181
...                               ...         ...        ...         ...
2021-12-27 00:00:00-05:00  200.683075  258.299988  61.002510  114.659752
2021-12-28 00:00:00-05:00  200.916428  255.449997  61.108318  114.437744
2021-12-29 00:00:00-05:00  201.606842  254.539993  61.521923  113.848946
2021-12-30 00:00:00-05:00  200.391342  255.330002  61.194885  113.347038
2021-12-31 00:00:00-05:00  201.033127  254.130005  60.954414  113.269821

                                                   ...    Volume            \
                                 DDOG         DIS  ...      MRVL      MSFT
Date                                               ...
2010-01-04 00:00:00-05:00         NaN   27.933920  ...   9389900  38409100
2010-01-05 00:00:00-05:00         NaN   27.864239  ...  13747600  49749600
2010-01-06 00:00:00-05:00         NaN   27.716164  ...  11170800  58182400
2010-01-07 00:00:00-05:00         NaN   27.724873  ...  10261800  50559700
2010-01-08 00:00:00-05:00         NaN   27.768423  ...  12276000  51197400
...                               ...         ...  ...       ...       ...
2021-12-27 00:00:00-05:00  183.470001  152.800003  ...   7116000  19947000
2021-12-28 00:00:00-05:00  177.419998  155.199997  ...   5798700  15661500
2021-12-29 00:00:00-05:00  179.710007  154.869995  ...   3583000  15042000
2021-12-30 00:00:00-05:00  178.929993  155.929993  ...   4303100  15994500
2021-12-31 00:00:00-05:00  178.110001  154.889999  ...   3611600  18000800

                                                                            \
                                NKE       PG       TRV       UNH         V
Date
2010-01-04 00:00:00-05:00  11972400  9190800   3716000  12199500  20180000
2010-01-05 00:00:00-05:00   6275200  8649400   5941900  11180700  25833600
2010-01-06 00:00:00-05:00  13399200  9908400  10124500   9761100  16254000
2010-01-07 00:00:00-05:00   7187600  8972800   4901600  11789800  27841200
2010-01-08 00:00:00-05:00   7249600  8464600   3933100   7228700  11907200
...                             ...      ...       ...       ...       ...
2021-12-27 00:00:00-05:00   3769300  4548600    655100   1349400   4818400
2021-12-28 00:00:00-05:00   2658600  5929400    914500   1495500   4279800
2021-12-29 00:00:00-05:00   3830900  5346100    683400   1573900   3223100
2021-12-30 00:00:00-05:00   2666800  5911500    420400   1309800   3812800
2021-12-31 00:00:00-05:00   2752000  5327000    682400   1695400   4723300


                                 VZ       WBA       WMT
Date
2010-01-04 00:00:00-05:00  16176648   8171000  20753100
2010-01-05 00:00:00-05:00  23722957  10843200  15648400
2010-01-06 00:00:00-05:00  37506464   8945400  12517200
2010-01-07 00:00:00-05:00  25508242   5040700  10662700
2010-01-08 00:00:00-05:00  20658308   6139800  11363200
...                             ...       ...       ...
2021-12-27 00:00:00-05:00  19705800   5219200   5346900
2021-12-28 00:00:00-05:00  12126500   3736100   5261000
2021-12-29 00:00:00-05:00  15109500   5117300   4348400
2021-12-30 00:00:00-05:00  15615500   3653600   4983000
2021-12-31 00:00:00-05:00  15911400   3406700   5982600

[3021 rows x 324 columns]

In [ ]:
prices = df2["Adj Close"]

In [ ]:
prices

,AAPL,AMGN,AXP,BA,CAT,CRM,CSCO,CVX,DDOG,DIS,...,MRVL,MSFT,NKE,PG,TRV,UNH,V,VZ,WBA,WMT
Date,,,,,,,,,,,,,,,,,,,,,
2010-01-04 00:00:00-05:00,6.515212,43.267189,33.675968,43.777561,41.156914,18.705000,17.394131,47.266079,NaN,27.933920,...,18.112049,23.683071,13.989440,41.181229,36.311016,25.983173,20.094734,16.568348,26.326166,40.329689
2010-01-05 00:00:00-05:00,6.526476,42.892384,33.601894,45.211338,41.648968,18.625000,17.316633,47.600845,NaN,27.864239,...,18.456543,23.690720,14.045100,41.194706,35.450802,25.941973,19.864475,16.598217,26.114426,39.928097
2010-01-06 00:00:00-05:00,6.422665,42.570049,34.145061,46.582802,41.775494,18.592501,17.203915,47.606831,NaN,27.716164,...,18.620180,23.545326,13.959474,40.999306,34.947792,26.197441,19.597733,16.120951,25.916807,39.838863
2010-01-07 00:00:00-05:00,6.410789,42.180260,34.698868,48.468559,41.944195,18.510000,17.281403,47.427467,NaN,27.724873,...,18.189558,23.300467,14.096474,40.776970,35.450802,27.202812,19.780119,16.024994,26.072075,39.861160
2010-01-08 00:00:00-05:00,6.453413,42.555046,34.674080,48.001022,42.415161,18.537500,17.372993,47.511181,NaN,27.768423,...,18.396255,23.461161,14.068645,40.723068,35.399776,26.947351,19.834835,16.035093,26.107372,39.660366
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-27 00:00:00-05:00,179.289444,218.275620,161.724579,203.169998,200.683075,258.299988,61.002510,114.659752,183.470001,152.800003,...,90.278687,339.270996,165.798660,157.060883,152.769714,493.183929,215.996109,49.172916,48.486717,138.581573
2021-12-28 00:00:00-05:00,178.255432,218.857269,161.744247,206.130005,200.916428,255.449997,61.108318,114.437744,177.419998,155.199997,...,87.475174,338.082123,164.650970,157.904495,153.827087,496.580414,216.412979,49.210251,49.155762,140.570328
2021-12-29 00:00:00-05:00,178.344925,220.631226,161.173660,203.660004,201.606842,254.539993,61.521923,113.848946,179.710007,154.869995,...,88.021957,338.775665,166.985886,159.213577,154.199127,499.187073,216.532059,48.874218,49.939503,140.501419
2021-12-30 00:00:00-05:00,177.171722,219.535812,161.498306,202.710007,200.391342,255.330002,61.194885,113.347038,178.929993,155.929993,...,86.928406,336.170044,165.709625,157.836639,153.523590,498.051575,216.234299,48.771545,49.691006,140.954285
2021-12-31 00:00:00-05:00,176.545380,218.081757,160.947388,201.320007,201.033127,254.130005,60.954414,113.269821,178.110001,154.889999,...,86.978111,333.197937,164.898346,158.622086,153.151535,495.790558,215.083008,48.500847,49.853481,142.450775

In [ ]:
prices.index = pd.to_datetime(prices.index)

In [ ]:
mtl_ret = prices.pct_change().resample("M").agg(lambda x: (x+1).prod()-1)

In [ ]:
mtl_ret

,AAPL,AMGN,AXP,BA,CAT,CRM,CSCO,CVX,DDOG,DIS,...,MRVL,MSFT,NKE,PG,TRV,UNH,V,VZ,WBA,WMT
Date,,,,,,,,,,,,,,,,,,,,,
2010-01-31 00:00:00-05:00,-0.102565,0.013167,-0.075658,0.078675,-0.101684,-0.150628,-0.089915,-0.087782,0.000000,-0.078578,...,-0.171184,-0.089499,-0.024484,0.014266,0.017265,0.046623,-0.069321,-0.103209,-0.033512,-0.014752
2010-02-28 00:00:00-05:00,0.065396,-0.031977,0.014074,0.049360,0.092075,0.069237,0.082777,0.012090,0.000000,0.057191,...,0.108434,0.022145,0.060392,0.028108,0.037893,0.026060,0.041183,-0.016656,-0.018424,0.011978
2010-03-31 00:00:00-04:00,0.148470,0.057057,0.085096,0.149620,0.101665,0.095659,0.069873,0.048824,0.000000,0.117478,...,0.056936,0.021626,0.091636,-0.000158,0.031983,-0.035145,0.067424,0.072243,0.052497,0.034092
2010-04-30 00:00:00-04:00,0.111021,-0.042279,0.117790,-0.002479,0.090131,0.149765,0.034576,0.073981,0.000000,0.055285,...,0.011753,0.042676,0.032789,-0.009983,-0.059325,-0.071385,-0.008788,-0.053940,-0.052305,-0.035252
2010-05-31 00:00:00-04:00,-0.016125,-0.096493,-0.135516,-0.108761,-0.107651,0.010864,-0.139992,-0.084483,0.000000,-0.092834,...,-0.081317,-0.151394,-0.046502,-0.017213,-0.025030,-0.040910,-0.195747,-0.047751,-0.084942,-0.051944
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-08-31 00:00:00-04:00,0.042489,-0.059073,-0.026799,-0.030819,0.019927,0.096474,0.065920,-0.036689,0.244806,0.029997,...,0.011238,0.061591,-0.014913,0.001125,0.072455,0.009825,-0.068906,-0.013984,0.086951,0.042757
2021-09-30 00:00:00-04:00,-0.068037,-0.057110,0.009460,0.002005,-0.089629,0.022430,-0.077770,0.048362,0.025762,-0.066906,...,-0.014381,-0.066119,-0.118429,-0.018189,-0.042907,-0.058036,-0.027717,-0.018000,-0.072906,-0.058879
2021-10-31 00:00:00-04:00,0.058657,-0.026711,0.039885,-0.058698,0.068586,0.104970,0.035240,0.128536,0.181818,-0.000591,...,0.136868,0.176291,0.151897,0.029159,0.058351,0.178456,-0.049293,-0.007234,-0.000638,0.072033
2021-11-30 00:00:00-05:00,0.105082,-0.031020,-0.123605,-0.044341,-0.052252,-0.049151,-0.020189,-0.002755,0.067285,-0.142959,...,0.038978,-0.001282,0.011657,0.011120,-0.086586,-0.035290,-0.083387,-0.051331,-0.038006,-0.058827
2021-12-31 00:00:00-05:00,0.074229,0.131185,0.074196,0.017539,0.069253,-0.108191,0.155543,0.039692,-0.001010,0.068944,...,0.229310,0.017333,-0.013415,0.131415,0.070642,0.134073,0.118388,0.033618,0.164286,0.033013

In [ ]:
past_11 = (mtl_ret+1).rolling(11).apply(np.prod)-1

In [ ]:
past_11.head(11)

,AAPL,AMGN,AXP,BA,CAT,CRM,CSCO,CVX,DDOG,DIS,...,MRVL,MSFT,NKE,PG,TRV,UNH,V,VZ,WBA,WMT
Date,,,,,,,,,,,,,,,,,,,,,
2010-01-31 00:00:00-05:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-02-28 00:00:00-05:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-03-31 00:00:00-04:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-04-30 00:00:00-04:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-05-31 00:00:00-04:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-06-30 00:00:00-04:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-07-31 00:00:00-04:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-08-31 00:00:00-04:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-09-30 00:00:00-04:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-10-31 00:00:00-04:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-11-30 00:00:00-05:00,0.453904,-0.087145,0.075295,0.163471,0.481717,0.860732,-0.223977,0.062389,0.0,0.138447,...,-0.083215,-0.166847,0.333165,0.029895,0.106734,0.168486,-0.156536,0.09151,-0.047565,0.014755

In [ ]:
formation = dt.datetime(2010, 12, 31)

In [ ]:
formation

datetime.datetime(2010, 12, 31, 0, 0)

In [ ]:
end_measurement = formation - MonthEnd(1)

In [ ]:
end_measurement

Timestamp('2010-11-30 00:00:00')

In [ ]:
ret_12 = past_11.loc[end_measurement]

<ipython-input-33-98048c8ea53c>:1: FutureWarning: Indexing a timezone-aware DatetimeIndex with a timezone-naive datetime is deprecated and will raise KeyError in a future version.  Use a timezone-aware object instead.
  ret_12 = past_11.loc[end_measurement]

In [ ]:
ret_12

AAPL    0.453904
AMGN   -0.087145
AXP     0.075295
BA      0.163471
CAT     0.481717
CRM     0.860732
CSCO   -0.223977
CVX     0.062389
DDOG    0.000000
DIS     0.138447
DLTR    0.711127
DOW     0.000000
DXCM    0.317757
EA     -0.178512
EBAY    0.219247
EXC    -0.153604
FANG    0.000000
FAST    0.306887
FISV    0.118754
GFS     0.000000
GILD   -0.157043
GOOG   -0.113347
GS     -0.089313
HD      0.086449
HON     0.266895
IBM     0.088460
IDXX    0.187315
ILMN    0.967921
INTC    0.044684
INTU    0.456994
ISRG   -0.157010
JD      0.000000
JNJ    -0.014821
JPM    -0.123888
KDP     0.281295
KHC     0.000000
KLAC    0.018217
KO      0.142349
LCID    0.000000
LRCX    0.138416
MCD     0.287883
META    0.000000
MMM     0.037512
MRK    -0.038473
MRVL   -0.083215
MSFT   -0.166847
NKE     0.333165
PG      0.029895
TRV     0.106734
UNH     0.168486
V      -0.156536
VZ      0.091510
WBA    -0.047565
WMT     0.014755
Name: 2010-11-30 00:00:00-05:00, dtype: float64

In [ ]:
ret_12 = ret_12.reset_index()

In [ ]:
ret_12

   index  2010-11-30 00:00:00-05:00
0   AAPL                   0.453904
1   AMGN                  -0.087145
2    AXP                   0.075295
3     BA                   0.163471
4    CAT                   0.481717
5    CRM                   0.860732
6   CSCO                  -0.223977
7    CVX                   0.062389
8   DDOG                   0.000000
9    DIS                   0.138447
10  DLTR                   0.711127
11   DOW                   0.000000
12  DXCM                   0.317757
13    EA                  -0.178512
14  EBAY                   0.219247
15   EXC                  -0.153604
16  FANG                   0.000000
17  FAST                   0.306887
18  FISV                   0.118754
19   GFS                   0.000000
20  GILD                  -0.157043
21  GOOG                  -0.113347
22    GS                  -0.089313
23    HD                   0.086449
24   HON                   0.266895
25   IBM                   0.088460
26  IDXX                   0.187315
27  ILMN                   0.967921
28  INTC                   0.044684
29  INTU                   0.456994
30  ISRG                  -0.157010
31    JD                   0.000000
32   JNJ                  -0.014821
33   JPM                  -0.123888
34   KDP                   0.281295
35   KHC                   0.000000
36  KLAC                   0.018217
37    KO                   0.142349
38  LCID                   0.000000
39  LRCX                   0.138416
40   MCD                   0.287883
41  META                   0.000000
42   MMM                   0.037512
43   MRK                  -0.038473
44  MRVL                  -0.083215
45  MSFT                  -0.166847
46   NKE                   0.333165
47    PG                   0.029895
48   TRV                   0.106734
49   UNH                   0.168486
50     V                  -0.156536
51    VZ                   0.091510
52   WBA                  -0.047565
53   WMT                   0.014755

In [ ]:
ret_12["decile"] = pd.qcut(ret_12.iloc[:,1], 10,labels = False, duplicates = "drop")

In [ ]:
ret_12

   index  2010-11-30 00:00:00-05:00  decile
0   AAPL                   0.453904       8
1   AMGN                  -0.087145       1
2    AXP                   0.075295       4
3     BA                   0.163471       6
4    CAT                   0.481717       8
5    CRM                   0.860732       8
6   CSCO                  -0.223977       0
7    CVX                   0.062389       4
8   DDOG                   0.000000       2
9    DIS                   0.138447       5
10  DLTR                   0.711127       8
11   DOW                   0.000000       2
12  DXCM                   0.317757       7
13    EA                  -0.178512       0
14  EBAY                   0.219247       6
15   EXC                  -0.153604       1
16  FANG                   0.000000       2
17  FAST                   0.306887       7
18  FISV                   0.118754       5
19   GFS                   0.000000       2
20  GILD                  -0.157043       0
21  GOOG                  -0.113347       1
22    GS                  -0.089313       1
23    HD                   0.086449       4
24   HON                   0.266895       6
25   IBM                   0.088460       4
26  IDXX                   0.187315       6
27  ILMN                   0.967921       8
28  INTC                   0.044684       4
29  INTU                   0.456994       8
30  ISRG                  -0.157010       0
31    JD                   0.000000       2
32   JNJ                  -0.014821       2
33   JPM                  -0.123888       1
34   KDP                   0.281295       7
35   KHC                   0.000000       2
36  KLAC                   0.018217       3
37    KO                   0.142349       5
38  LCID                   0.000000       2
39  LRCX                   0.138416       5
40   MCD                   0.287883       7
41  META                   0.000000       2
42   MMM                   0.037512       3
43   MRK                  -0.038473       2
44  MRVL                  -0.083215       2
45  MSFT                  -0.166847       0
46   NKE                   0.333165       7
47    PG                   0.029895       3
48   TRV                   0.106734       5
49   UNH                   0.168486       6
50     V                  -0.156536       0
51    VZ                   0.091510       5
52   WBA                  -0.047565       2
53   WMT                   0.014755       3

In [ ]:
winners = ret_12[ret_12.decile == 8]
losers = ret_12[ret_12.decile == 0]

In [ ]:
winners

   index  2010-11-30 00:00:00-05:00  decile
0   AAPL                   0.453904       8
4    CAT                   0.481717       8
5    CRM                   0.860732       8
10  DLTR                   0.711127       8
27  ILMN                   0.967921       8
29  INTU                   0.456994       8

In [ ]:
winnerret = mtl_ret.loc[formation + MonthEnd(1), mtl_ret.columns.isin(winners["index"])]
loserret = mtl_ret.loc[formation + MonthEnd(1), mtl_ret.columns.isin(losers["index"])]

<ipython-input-41-b72f9df23b98>:1: FutureWarning: Indexing a timezone-aware DatetimeIndex with a timezone-naive datetime is deprecated and will raise KeyError in a future version.  Use a timezone-aware object instead.
  winnerret = mtl_ret.loc[formation + MonthEnd(1), mtl_ret.columns.isin(winners["index"])]
<ipython-input-41-b72f9df23b98>:2: FutureWarning: Indexing a timezone-aware DatetimeIndex with a timezone-naive datetime is deprecated and will raise KeyError in a future version.  Use a timezone-aware object instead.
  loserret = mtl_ret.loc[formation + MonthEnd(1), mtl_ret.columns.isin(losers["index"])]

In [ ]:
Momentumprofit = winnerret.mean() - loserret.mean()

In [ ]:
Momentumprofit

-0.045934945971372466

In [ ]:
def momentum(formation):
  end_measurement = formation - MonthEnd(1)
  ret_12 = past_11.loc[end_measurement]
  ret_12 = ret_12.reset_index()
  ret_12["decile"] = pd.qcut(ret_12.iloc[:,1], 10, labels = False, duplicates = "drop")
  winners = ret_12[ret_12.decile == 8 ]
  losers = ret_12[ret_12.decile == 0 ]
  winnerret = mtl_ret.loc[formation + MonthEnd(1), mtl_ret.columns.isin(winners["index"])]
  loserret = mtl_ret.loc[formation + MonthEnd(1), mtl_ret.columns.isin(losers["index"])]
  Momentumprofit = winnerret.mean() - loserret.mean()
  return Momentumprofit

In [ ]:
formation

datetime.datetime(2010, 12, 31, 0, 0)

In [ ]:
momentum(formation)

<ipython-input-44-c3dde6e6d995>:3: FutureWarning: Indexing a timezone-aware DatetimeIndex with a timezone-naive datetime is deprecated and will raise KeyError in a future version.  Use a timezone-aware object instead.
  ret_12 = past_11.loc[end_measurement]
<ipython-input-44-c3dde6e6d995>:8: FutureWarning: Indexing a timezone-aware DatetimeIndex with a timezone-naive datetime is deprecated and will raise KeyError in a future version.  Use a timezone-aware object instead.
  winnerret = mtl_ret.loc[formation + MonthEnd(1), mtl_ret.columns.isin(winners["index"])]
<ipython-input-44-c3dde6e6d995>:9: FutureWarning: Indexing a timezone-aware DatetimeIndex with a timezone-naive datetime is deprecated and will raise KeyError in a future version.  Use a timezone-aware object instead.
  loserret = mtl_ret.loc[formation + MonthEnd(1), mtl_ret.columns.isin(losers["index"])]

-0.045934945971372466

In [ ]:
for i in range(12*10):
  print(formation + MonthEnd(i))

2010-12-31 00:00:00
2011-01-31 00:00:00
2011-02-28 00:00:00
2011-03-31 00:00:00
2011-04-30 00:00:00
2011-05-31 00:00:00
2011-06-30 00:00:00
2011-07-31 00:00:00
2011-08-31 00:00:00
2011-09-30 00:00:00
2011-10-31 00:00:00
2011-11-30 00:00:00
2011-12-31 00:00:00
2012-01-31 00:00:00
2012-02-29 00:00:00
2012-03-31 00:00:00
2012-04-30 00:00:00
2012-05-31 00:00:00
2012-06-30 00:00:00
2012-07-31 00:00:00
2012-08-31 00:00:00
2012-09-30 00:00:00
2012-10-31 00:00:00
2012-11-30 00:00:00
2012-12-31 00:00:00
2013-01-31 00:00:00
2013-02-28 00:00:00
2013-03-31 00:00:00
2013-04-30 00:00:00
2013-05-31 00:00:00
2013-06-30 00:00:00
2013-07-31 00:00:00
2013-08-31 00:00:00
2013-09-30 00:00:00
2013-10-31 00:00:00
2013-11-30 00:00:00
2013-12-31 00:00:00
2014-01-31 00:00:00
2014-02-28 00:00:00
2014-03-31 00:00:00
2014-04-30 00:00:00
2014-05-31 00:00:00
2014-06-30 00:00:00
2014-07-31 00:00:00
2014-08-31 00:00:00
2014-09-30 00:00:00
2014-10-31 00:00:00
2014-11-30 00:00:00
2014-12-31 00:00:00
2015-01-31 00:00:00
2015-02-28 00:00:00
2015-03-31 00:00:00
2015-04-30 00:00:00
2015-05-31 00:00:00
2015-06-30 00:00:00
2015-07-31 00:00:00
2015-08-31 00:00:00
2015-09-30 00:00:00
2015-10-31 00:00:00
2015-11-30 00:00:00
2015-12-31 00:00:00
2016-01-31 00:00:00
2016-02-29 00:00:00
2016-03-31 00:00:00
2016-04-30 00:00:00
2016-05-31 00:00:00
2016-06-30 00:00:00
2016-07-31 00:00:00
2016-08-31 00:00:00
2016-09-30 00:00:00
2016-10-31 00:00:00
2016-11-30 00:00:00
2016-12-31 00:00:00
2017-01-31 00:00:00
2017-02-28 00:00:00
2017-03-31 00:00:00
2017-04-30 00:00:00
2017-05-31 00:00:00
2017-06-30 00:00:00
2017-07-31 00:00:00
2017-08-31 00:00:00
2017-09-30 00:00:00
2017-10-31 00:00:00
2017-11-30 00:00:00
2017-12-31 00:00:00
2018-01-31 00:00:00
2018-02-28 00:00:00
2018-03-31 00:00:00
2018-04-30 00:00:00
2018-05-31 00:00:00
2018-06-30 00:00:00
2018-07-31 00:00:00
2018-08-31 00:00:00
2018-09-30 00:00:00
2018-10-31 00:00:00
2018-11-30 00:00:00
2018-12-31 00:00:00
2019-01-31 00:00:00
2019-02-28 00:00:00
2019-03-31 00:00:00
2019-04-30 00:00:00
2019-05-31 00:00:00
2019-06-30 00:00:00
2019-07-31 00:00:00
2019-08-31 00:00:00
2019-09-30 00:00:00
2019-10-31 00:00:00
2019-11-30 00:00:00
2019-12-31 00:00:00
2020-01-31 00:00:00
2020-02-29 00:00:00
2020-03-31 00:00:00
2020-04-30 00:00:00
2020-05-31 00:00:00
2020-06-30 00:00:00
2020-07-31 00:00:00
2020-08-31 00:00:00
2020-09-30 00:00:00
2020-10-31 00:00:00
2020-11-30 00:00:00

In [ ]:
profits = []
dates = []

for i in range(12*10):
  profits.append(momentum(formation + MonthEnd(i)))
  dates.append(formation + MonthEnd(i))

<ipython-input-44-c3dde6e6d995>:3: FutureWarning: Indexing a timezone-aware DatetimeIndex with a timezone-naive datetime is deprecated and will raise KeyError in a future version.  Use a timezone-aware object instead.
  ret_12 = past_11.loc[end_measurement]
<ipython-input-44-c3dde6e6d995>:8: FutureWarning: Indexing a timezone-aware DatetimeIndex with a timezone-naive datetime is deprecated and will raise KeyError in a future version.  Use a timezone-aware object instead.
  winnerret = mtl_ret.loc[formation + MonthEnd(1), mtl_ret.columns.isin(winners["index"])]
<ipython-input-44-c3dde6e6d995>:9: FutureWarning: Indexing a timezone-aware DatetimeIndex with a timezone-naive datetime is deprecated and will raise KeyError in a future version.  Use a timezone-aware object instead.
  loserret = mtl_ret.loc[formation + MonthEnd(1), mtl_ret.columns.isin(losers["index"])]

In [ ]:
profits

[-0.045934945971372466,
 0.09330693072840483,
 0.0020963795162405145,
 -0.02549668903003415,
 -0.003685959049876238,
 -0.006029128358300651,
 -0.042667291972341474,
 -0.006094218641742664,
 -0.052664601562605065,
 0.03861591223180189,
 0.0817608794325124,
 0.011893485942307859,
 -0.19035514983481236,
 0.06059569683425353,
 -0.028355387075001775,
 0.0770654479103449,
 0.004888160693877541,
 -0.007449448899227366,
 0.11889068748750366,
 -0.0029135287707489706,
 -0.03688863112511753,
 -0.007507720159361771,
 -0.046032805004298495,
 0.023506245758068516,
 -0.07131153348647443,
 0.02817120891833262,
 0.04310010592586201,
 0.00013720090485822706,
 0.03663671977582487,
 0.00506948590462181,
 -0.08142634821665613,
 -0.04579992848391461,
 0.06891850501553748,
 0.04936963055136119,
 0.04404468935243983,
 0.03648978055062386,
 0.07133409707390168,
 0.009747607662254174,
 -0.053286291789522336,
 -9.339198429919593e-05,
 0.01913859867450268,
 -0.02127633241780792,
 -0.07025484393335663,
 0.0514647328991722,
 -0.06797066416565534,
 0.026302809140929643,
 0.05577053589883252,
 -0.006450635031936606,
 0.010990257789939745,
 0.02781899861569765,
 0.018308182947892722,
 -0.009761698201199554,
 0.021682809574923044,
 0.017817173543772,
 0.08695324909807416,
 -0.0494966368290817,
 0.05660782761907028,
 -0.043408618564020854,
 0.016048094330925508,
 -0.04758451074253842,
 0.011807274499087755,
 -0.058259009145153626,
 -0.05727506009354304,
 0.02495167396482817,
 -0.012421911704665917,
 0.07645683056821963,
 -0.0661897733638682,
 -0.07537659704870703,
 -0.010167481680392975,
 0.04319669247462201,
 -0.011063710845199082,
 0.007304807010589047,
 -0.14563813589180896,
 0.02181794240166465,
 -0.023306511491640654,
 0.02376637470472099,
 0.026724151563065388,
 0.012610139944146524,
 0.04969668633231951,
 -0.001930415461628289,
 0.044860192784935804,
 0.007136586153942373,
 -0.032761689988704365,
 0.0005510901802660041,
 0.05288044649688195,
 0.02291876629012799,
 -0.0913339154154534,
 0.06128216333000387,
 0.0176384682062583,
 -0.037552828537036995,
 0.014216183478991118,
 0.02761341770309232,
 0.0665234293000212,
 -0.06366874167256405,
 0.020418432363691386,
 -0.005402525093951893,
 -0.09295013270758808,
 0.08099711511054865,
 0.0004938913715138264,
 -0.040944704496181726,
 0.034051191545223354,
 -0.06444377648204476,
 0.025042837278556513,
 0.05428349385913999,
 0.004557404664095557,
 -0.03670366089867988,
 -0.05462940862021646,
 -0.025704064976420457,
 0.11653846910886648,
 0.015780363815961665,
 0.1120516345687736,
 -0.05875131686547089,
 -0.03528941835233439,
 -0.013628153620277042,
 0.04933492507332873,
 -0.020966023057923458,
 0.028815278679621276,
 -0.0034036131376130666,
 -0.20043178756279656,
 -0.012244800044159752]

In [ ]:
SP = yf.download("SPY", start = dates[0], end=dates[-1])

[*********************100%***********************]  1 of 1 completed

In [ ]:
SP = SP["Adj Close"]

In [ ]:
SP_mtl = SP.pct_change().resample("M").agg(lambda x: (x+1).prod() -1)

In [ ]:
SP_mtl

Date
2010-12-31 00:00:00-05:00    0.000000
2011-01-31 00:00:00-05:00    0.023300
2011-02-28 00:00:00-05:00    0.034737
2011-03-31 00:00:00-04:00    0.000120
2011-04-30 00:00:00-04:00    0.028961
                               ...
2020-07-31 00:00:00-04:00    0.058892
2020-08-31 00:00:00-04:00    0.069797
2020-09-30 00:00:00-04:00   -0.037444
2020-10-31 00:00:00-04:00   -0.024934
2020-11-30 00:00:00-05:00    0.113707
Freq: M, Name: Adj Close, Length: 120, dtype: float64

In [ ]:
frame = pd.DataFrame(profits)

In [ ]:
frame["S_P500"] = SP_mtl.values

In [ ]:
frame["excess"] = frame.iloc[:,0] -frame.iloc[:, 1]

In [ ]:
frame["outperformed"] = ["Yes" if i > 0 else "No" for i in frame.excess]

In [ ]:
frame

            0    S_P500    excess outperformed
0   -0.045935  0.000000 -0.045935           No
1    0.093307  0.023300  0.070007          Yes
2    0.002096  0.034737 -0.032641           No
3   -0.025497  0.000120 -0.025617           No
4   -0.003686  0.028961 -0.032647           No
..        ...       ...       ...          ...
115 -0.020966  0.058892 -0.079858           No
116  0.028815  0.069797 -0.040981           No
117 -0.003404 -0.037444  0.034040          Yes
118 -0.200432 -0.024934 -0.175498           No
119 -0.012245  0.113707 -0.125952           No

[120 rows x 4 columns]

In [ ]:
frame[frame.outperformed == "Yes"].shape

(54, 4)

In [ ]:
frame.shape

(120, 4)

In [ ]:
54/120

0.45